* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url(fonts/Roboto-Regular.ttf);
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url(fonts/Roboto-Medium.ttf);
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url(fonts/Montserrat-Medium.ttf);
	font-weight: 500;
	font-display: swap;
}

.form {
	padding-top: 100px;
	display: flex;
	font-family: 'Roboto-Regular', sans-serif;
	width: 100%;
	max-width: 1280px;
	margin: auto;
}

h1 {
	font-weight: 500;
	font-size: 50px;
	line-height: 120%;
	padding-bottom: 55px;
}

.left-container input, textarea {
	width: 100%;
	max-width: 605px;
	height: 48.62px;
	background: #FFF;
	border-style: none;
	box-shadow: 0 0 10px rgba(38, 41, 46, 0.25);
	margin: 11px 40px 20px 0;
}

.left-container textarea {
	height: 145.85px;
}

.left-container label {
	display: block;
	font-size: 20px;
	line-height: 120%;
	font-family: 'Montserrat', sans-serif;
	color: #26292E;
}

#order {
	width: 262px;
	height: 58.34px;
	background: #408858;
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	text-transform: uppercase;
	color: #FFF;
}

.left-container, .right-container {
	width: 50%;
}

.right-container label {
	font-size: 30px;
	line-height: 35px;
}

.right-container p {
	font-size: 20px;
	line-height: 140%;
	padding-bottom: 30px;
}

input::placeholder {
	padding-left: 20px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: #C4C4C4;
}

input[type="radio"]{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid green;
  background-color: white;
  outline: none;
  position: relative;
}

input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}

@media only screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    align-items: center;
  }
  
  .left-container, .right-container {
    width: 100%;
  }
  
  .left-container input, textarea {
    width: 100%;
    margin-right: 0;
  }
  
  .left-container label {
    font-size: 18px;
  }
  
  .right-container label {
    font-size: 26px;
  }
  
  #order {
    width: 100%;
    margin-top: 20px;
  }
}
