* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("/fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  background: #f2f8f6;
}

section {
  display: flex;
  font-family: "Roboto-Regular", sans-serif;
  width: 67%;
  max-width: 1280px;
  margin: 0 auto;
  color: #26292e;
  padding-top: 70px;
}

.container-1 {
  width: 100%;
  position: relative;
}

.container-2 {
  padding-top: 40px;
  position: relative;
  width: 100%;
  line-height: 140%;
}

.rectangle-1 {
  position: absolute;
  width: 446.67px;
  height: 437.32px;
  background: #ffffff;
  border-radius: 2px;
}

.rectangle-2 {
  position: absolute;
  top: 48px;
  left: 33px;
  width: 446.67px;
  height: 437.32px;
  box-sizing: border-box;
  border: #3d8455 solid 20px;
  border-radius: 2px;
  z-index: 2;
}

img {
  position: relative;
  left: 145px;
  top: -65px;
  z-index: 3;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
}

p {
  font-size: 20px;
  line-height: 140%;
  max-width: 550px;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 23px;
}

li {
  list-style-type: none;
  padding-bottom: 13px;
  font-size: 20px;
  line-height: 140%;
  font-weight: 600;
}

li::before {
  content: "\2713";
  color: #3d8455;
}

a:link {
  text-decoration: none;
  color: white;
}

a {
  margin-top: 59px;
  padding: 17px 34px;
  background: #408858;
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  display: block;
  max-width: 100px;
}
